services:
  # -------------------------------------------------------
  # 1. The Python Model Service (Backend)
  # -------------------------------------------------------
  model-service:
    image: ghcr.io/${ORG_NAME}/model-service:${VERSION}

    environment:
      - MODEL_SERVICE_PORT=${MODEL_INTERNAL_PORT}

    # Inject the model file from host to container
    # We map the local './models' folder to '/models' inside the container
    volumes:
      - ./models:/models

    # restart policy based on grading criteria
    restart: unless-stopped

  # -------------------------------------------------------
  # 2. The Java App Service (Frontend)
  # -------------------------------------------------------
  app-service:
    image: ghcr.io/${ORG_NAME}/app:${VERSION}

    ports:
      - "${HOST_PORT}:${APP_INTERNAL_PORT}"

    environment:
      - APP_PORT=${APP_INTERNAL_PORT}
      - MODEL_SERVICE_URL=http://model-service:${MODEL_INTERNAL_PORT}

    depends_on:
      - model-service

    restart: unless-stopped