apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "sms-spam-detector.labels" . | nindent 4 }}
data:
  APP_INTERNAL_PORT: {{ .Values.config.appInternalPort | quote }}
  MODEL_INTERNAL_PORT: {{ .Values.config.modelInternalPort | quote }}
  MODEL_SERVICE_URL: {{ .Values.config.modelServiceUrl | quote }}
  MODEL_VERSION: {{ .Values.config.modelVersion | default (.Values.modelService.image.tag | replace "v" "" | replace "latest" "1.0.2") | quote }}
  MODEL_BASE_URL: {{ .Values.config.modelBaseUrl | default "" | quote }}
