{{- if and .Values.imagePullSecrets.enabled .Values.imagePullSecrets.username .Values.imagePullSecrets.password }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.imagePullSecrets.name }}
  namespace: {{ .Values.namespace }}
type: kubernetes.io/dockercfg
data:
  .dockercfg: {{ printf "{\"ghcr.io\":{\"username\":\"%s\",\"password\":\"%s\",\"email\":\"unused\",\"auth\":\"%s\"}}" .Values.imagePullSecrets.username .Values.imagePullSecrets.password (printf "%s:%s" .Values.imagePullSecrets.username .Values.imagePullSecrets.password | b64enc) | b64enc }}
{{- end }}
